/* .olmy-navigation {
    justify-content: space-between;
    display: flex;
    align-items: baseline;
}
 */

.header-top-right ul li a img:hover {
    transition: 1s;
    transform: scale(1.1);
}


.sign-section {
    float: right;
    margin: 0;
}

ul.nav.navbar-nav.sign-section {
    padding-top: 22px !important;
}


li.dropdown.sign-up a:focus{
    background: none !important;
}

li.dropdown.sign-up a {
    background-color: #fff;
    }

/* a.btn-open-modal:hover {
    text-decoration: none;
    background-color: #fff !important;
    border-style: none;
} */


.sign-section a {
    font-size: 13px !important;   /*  margin-left: 35px !important; */
    text-transform: capitalize !important;
}

img.img-responsive.logo-img {
    width: 100%;
}

ul.nav.navbar-nav.custom-nav li a {
    font-weight: 500;
    font-size: 14px !important;
}

li.dropdown.sign-up a {
    margin-left: 1px !important;
}

li.dropdown.sign-up {

    /*    margin-left: 60px; */
}

.sign-up a {
    font-weight: 600;
    color: #002F54 !important;
    font-size: 13px !important;
}

.sign-up a:hover {
    color: #f36711 !important;
}

.sign-up a:after {
    content: none !important;
}

li.dropdown.sign-button {
    margin: auto;
    padding: 10px;
}

li.dropdown.sign-up img {
    object-fit: contain;
    width: 16px;
    margin-top: -4px;
}

li.dropdown.sign-button a:after {
    content: none !important;
}

li.dropdown.sign-up a {
    background-color: #fff;
    color: #1C1C1C;
    font-family: SourceSansPro-Regular;
}

.sign-up a {
    font-weight: 600;
    font-family: SourceSansPro-Regular !important;
    font-size: 13px !important;
    color: #1C1C1C;
}

.navbar-brand {
    float: none !important;
}
