/* .slick-slide .comitee-img {
    width: auto;
    height: auto;
    object-fit: initial;
}
 */
.classes-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.classes-slide i.fa.fa-chevron-left {
    font-size: 16px;
    color: #f46b17;
}

.classes-slide i.fa.fa-chevron-right {
    font-size: 16px;
    color: #f46b17;
}


.classes-slide button.slick-prev.slick-arrow {
    font-size: 11px;
    border: none;
    background: transparent;
}

.classes-slide button.slick-next.slick-arrow {
    font-size: 11px;
     border: none;
    background: transparent;
}


.clc-main-card{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between
}

.classlist-card {
       flex: 40%;
    }