.lotp-inner {
    margin-top: 20px;
}

.signotp-modal-content.modal-content {
    border: 1px solid #F47D34;
}

.otp-main {
    display: flex;
}

.left-otp {
    background-color: #f6f7f8;
    width: 40%;
    padding: 40px 50px;
}

.lotp-inner-top h3 {
    padding: 10px 8px 15px 0px;
    color: #2B2F54;
    font-family: 'Sofia-Pro-Medium';
    font-size: 20px;
    line-height: 1.5;
}

.lotp-inner-top p {
    font-family: 'Sofia-Pro-Regular';
    font-size: 14px;
    line-height: 1.5;
    color: #2b2f5487;
}

.otp-flex p {
    margin: auto;
    font-family: 'Sofia-Pro-Regular';
    font-size: 14px;
    line-height: 1.5;
}

.right-otp {
    padding: 70px 100px;
    width: 60%;
}

.otp-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 25px;
}

.otp-flex img {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.ropt-middle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ropt-button button {
    text-align: center;
    width: 350px;
    border-radius: 4px;
    border: 1px solid #F58020;
    outline: none;
    font-family: 'SourceSansPro-Regular';
    color: #FFFFFF;
    padding: 10px 0px;
    background-color: #F58020;
    height: auto;
}

.ropt-button button:hover {
    border: 1px solid #F58020;
    color: #F58020;
    background-color: #ffffff;
}

.ropt-middle div {
    border-radius: 5px;
    margin-right: 35px;
    background-color: #F6F7F8;
    padding: 15px 0px 10px 25px;
    height: 52px;
    width: 60px;
}

.ropt-middle div:hover {
    border: 1px solid #f58020;
}

.ropt-top h3 {
    line-height: 1.5;
    color: #2B2F54;
    font-family: 'Sofia-Pro-Medium';
    font-size: 20px;
}

.ropt-top p {
    font-family: 'Sofia-Pro-Medium';
    font-size: 14px;
    color: #2b2f547a;
    margin: auto;
    line-height: 1.5;
}

.ropt-top p:last-child {
    font-family: 'Sofia-Pro-Medium';
    font-size: 14px;
    color: #2b2f547a;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 20px;
}

.ropt-bottom p {
    margin-top: 20px;
    color: #F36711;
    font-family: 'Sofia-Pro-Medium';
    font-size: 14px;
    line-height: 1.5;
}

.hide-paraotp {
    opacity: 0.5 !important;
}
/* ****************************already login user -page***************** */

.alu-left-otp {
    border-radius: 6px 0px 0px 6px !important;
    background-color: #f6f7f8;
    width: 40%;
    padding: 35px 15px;
}

button.alu-btn-login1 img {
    width: 15px;
    margin-right: 4px;
}

.alu-inner-top h3 {
    padding: 0px;
    color: #2B2F54;
    font-family: Sofia-Pro-Medium !important;
    font-size: 12px !important;
    line-height: 1.5;
}

.alu-inner-top p {
    margin-bottom: 40px;
    font-family: Sofia-Pro-Regular !important;
    font-size: 12px;
    line-height: 1.2;
    color: #2b2f5487;
}

.width-modal-login-dialog {
    display: flex;
    justify-content: center;
}

.width-modal-login-content {
    width: 80%;
}

.alu-right {
    width: 60%;
    /*padding: 17px 38px;*/
    padding: 20px 35px;
}

.alu-login-box-top div {
    font-family: 'Sofia-Pro-Medium' !important;
    font-size: 12px;
}

.right-alu-login {
    width: 100%;
    padding: 30px 10px;
    margin: auto;
}

.ral-top {
    justify-content: space-between;
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}

.ral-top h5 {
    color: #2B2F54 !important;
    font-family: Sofia-Pro-Medium !important;
    font-size: 16px;
    line-height: 1.2;
    margin: auto;
}

.ral-top p {
    color: #2b2f547d;
    font-family: Sofia-Pro-Regular !important;
    font-size: 12px;
    line-height: 1.2;
    margin: 3px auto;
}

button.alu-login-btn {
    font-family: 'Sofia-Pro-Medium' !important;
    color: #F47D34;
    background-color: #f47d3412;
    outline: none;
    border-radius: 4px;
    border: none;
    padding: 6px 14px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}

.alu-login-middle {
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.alu-login-box-top {
    width: 100px;
    background-color: #FFFDFA;
    border-radius: 4px;
    border: 1px dashed #F3671180;
    display: flex;
    align-items: unset;
    padding:6px;
    }
.alu-login-box-top label.container-radio.option-radio{
    font-family: 'Sofia-Pro-Medium' !important;
    margin: auto;
    font-size: 12px;
    font-weight: normal !important;
}

.alu-login-box-top1 {
    margin-right: 20px;
    border-radius: 4px;
    border: 1px dashed #F3671180;
    display: flex;
    align-items: unset;
    padding: 3px 5px;
}

.alu-login-bottom .floating-label-wrap .form-control {
    font-family: 'Sofia-Pro-Medium';
    color: #2B2F54 !important;
    font-size: 12px !important;
    background-color: #F6F7F880 !important;
    margin: 25px auto;
    height: 40px;
}

.alu-login-bottom .floating-label-wrap .control-label {
    color: #2B2F54 !important;
    font-size: 12px !important;
}

.alu-login-bottom .floating-label-wrap.lower-text .form-control:focus {
    border-color: #F58020;
    outline: 0;
    box-shadow: none;
}

.alu-login-bottom .floating-label-wrap.lower-text .form-control:active {
    border-color: #F58020;
    outline: 0;
    box-shadow: none;
}

.forget-alu {
    padding: 0;
    margin-top: -20px;
    margin-bottom: 30px;
}

button.alu-btn-login {
    margin-top: 0px;
    box-shadow: 0px 3px 6px #00000029;
    font-weight: normal;
    font-family: 'SourceSansPro-SemiBold';
    padding: 10px 0px;
    color: #FFF;
    background-color: #F36711;
    font-size: 12px;
    text-align: center;
    font-style: normal;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #F36711;
}

button.alu-btn-login1 {
    box-shadow: 0px 3px 6px #00000029;
    font-weight: normal;
    font-family: 'SourceSansPro-SemiBold';
    padding: 8px 20px;
    color: #2B2F54;
    background-color: #2B2F540D;
    font-size: 13px;
    text-align: center;
    font-style: normal;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #2B2F540D;
}

.forget-alu-left span {
    color: #2B2F54;
    font-family: 'Sofia-Pro-Regular';
    font-size: 14px;
}

.forget-alu-right span {
    color: #F36711;
    font-family: 'Sofia-Pro-Regular';
    font-size: 10px;
}

.orsperate {
    font-size: 18px;
    font-family: 'Sofia-Pro-Medium';
    width: 100%;
    padding: 10px 20px;
    text-align: center;
}